html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
  overflow: hidden;
  font: 10pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

#map {
  width: 100%;
  height: 100%;
  font: 10pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* As we've given the element we're displaying the layer tree within a class of
 * layer-switcher (so we can benefit from the default layer-switcher styles) we
 * need to override the position to avoid it being absolutely positioned */
.layer-switcher {
  position: relative;
  top: -10%;
  bottom: 10%;
  right: 5%;
}

.mousePosition {
    position: relative;
    top: 97%;
    width: 20%;
    bottom: -80px;
    right: -97.5%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.651);
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(190, 186, 186, 0.973);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.myButton {
  position: relative;
  display: inside;
  bottom: 23px;
  right: -97.5%;
  background-color: rgba(209, 208, 208, 0);
  color:rgba(209, 208, 208, 0.651);
  font-weight: 700;
  text-align: center;
  height: 22px;
  width: 1%;
  border-radius: 2px;
  border: 1px solid rgba(136, 134, 134, 0);
  align-items: center;
}

.myButton.hover{
  background-color: rgba(0, 0, 0, 0.651);

}

.myButton.clicked:hover{
  position: relative;
  display: block;
  margin: 10px auto auto 10px;

}


.fsButtonDiv {
  position: relative;
  display: inside;
  background-color: rgba(209, 208, 208, 0);
  bottom: -2px;
  right: 0%;
  align-items: center;
  
  
}
.fsButtonDiv.clicked:hover{
  position: relative;
  display: block;
  margin: 10px auto auto 10px;

}

.lengthButton {
  position: relative;
  display: inside;
  background-color: rgba(9, 9, 226, 0.829);
  bottom: -2px;
  right: 0%;
  margin: 10px auto auto 10px;
  align-items: center;
}

.ol.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.651);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
}

.ol.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.ol.tooltip-static {
  background-color: yellow;
  color: black;
  border: 1px solid white;

}

.ol.tooltip-measure:before,
.ol.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.651);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.ol.tooltip-measure:before {
  border-top-color: yellow;
}

.ol-scale-bar {
  position: absolute;
  color: rgb(0, 0, 0);
  bottom: 7px;
  margin-left: 0px;
  left: 80%;
}